body {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    background-color: black;
    font-family: 'Hind', sans-serif;
    font-weight: lighter;
}

.containingCircle{
    float: right;
}

a {
    padding: 0;
    margin: 0;
}

a:hover {
    color: #366396;
}

.uniqueInput {
    color: white;
}

.linkroach {
    color: #414142;
    font-style: italic;
    padding-top: 0px;
    margin-bottom: 20px;
    padding-left: none;
    max-width: 100%;
    font-size: 12px
}


div {
    margin: 0;
    background-color: transparent;
}

svg {
    position: absolute;
    padding-top: 20%;
    z-index: 1;
}

#generatedText {
    padding-top: 0px;
    z-index: 0;
    font-size: 30px;
    text-align: center;
    color: #696d72;
    position: absolute;
    padding-top: 100px;
    z-index: 0;
}


shelter {
    width: 100%;
}

h1 {
    max-width: 100%;
    font-size: 20px;
    padding-top: 3%;
    color: #696d72;
    font-weight: bold;
    text-align: left;
}


rect {
    fill: black;
}

label,
output {
    margin-top: 20px;
    color: lightgray;
    height: 25px;
    border-bottom: 50px;
}


input[type=range] {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 1.5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(199, 198, 202, 0.79);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 15px;
    width: 13px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.69);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -8.75px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(212, 211, 214, 0.79);
}

input[type=range]::-moz-range-track {
    height: 1.5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
    background: rgba(199, 198, 202, 0.79);
    border-radius: 0px;
    border: 0px solid rgba(0, 0, 0, 0);
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 19px;
    width: 13px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.69);
    cursor: pointer;
}

input[type=range]::-ms-track {
    height: 1.5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(186, 185, 190, 0.79);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-fill-upper {
    background: rgba(199, 198, 202, 0.79);
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    border: 0px solid rgba(0, 0, 0, 0);
    height: 19px;
    width: 13px;
    border-radius: 0px;
    background: rgba(255, 255, 255, 0.69);
    cursor: pointer;
    height: 1.5px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(199, 198, 202, 0.79);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(212, 211, 214, 0.79);
}
